# Java/Gradle
*.class
*.log
target/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

#pdfs
*user_credentials*.pdf
# Secrets
.env