services:

  db:
    image: postgres:17.6-alpine
    restart: on-failure
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    image: ghcr.io/fes-wiesbaden/23be13-p4-groupone/backend:latest
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - APP_INIT_DEFAULT_USERS=${APP_INIT_DEFAULT_USERS:-true}
      - APP_DEFAULT_ADMIN_USERNAME=${APP_DEFAULT_ADMIN_USERNAME:-admin}
      - APP_DEFAULT_ADMIN_PASSWORD=${APP_DEFAULT_ADMIN_PASSWORD:-admin}
      - APP_DEFAULT_TEACHER_USERNAME=${APP_DEFAULT_TEACHER_USERNAME:-teacher}
      - APP_DEFAULT_TEACHER_PASSWORD=${APP_DEFAULT_TEACHER_PASSWORD:-teacher}
      - APP_DEFAULT_STUDENT_USERNAME=${APP_DEFAULT_STUDENT_USERNAME:-student}
      - APP_DEFAULT_STUDENT_PASSWORD=${APP_DEFAULT_STUDENT_PASSWORD:-student}
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  frontend:
    build: ./frontend
    image: ghcr.io/fes-wiesbaden/23be13-p4-groupone/frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: on-failure

volumes:
  pgdata:
